/*
========================================================================================
    GATK Variant Calling Pipeline - Nextflow Config
========================================================================================
*/
singularity.pullTimeout = '4d'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    
    // Input/output options
    input = null
    outdir = "results"
    preprocessor = null
    small_variant_caller = null // Options: "gatk", "freebayes", "deepvariant"
    structural_variant_caller = null // Options: "manta", "tiddit", "delly", "cnvnator", "smoove"
    annotation_caller = null
    publish_dir_mode = "symlink"
    // SnpEff annotation option
    help = false
    genome = "GRCh38"
}

includeConfig 'conf/igenomes.config'
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Execution profiles
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
    test_fastq {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        small_variant_caller = "deepvariant" // Options: "gatk", "freebayes", "deepvariant"
        structural_variant_caller = "manta" // Options: "manta", "tiddit", "delly", "cnvnator", "smoove"
        annotation_caller = "vep"
        params.input = 'assets/samplesheet_fastq.csv'
        params.genome = 'test'
    }
    test_fastq_multi {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        small_variant_caller = "deepvariant" // Options: "gatk", "freebayes", "deepvariant"
        structural_variant_caller = "manta" // Options: "manta", "tiddit", "delly", "cnvnator", "smoove"
        annotation_caller = "vep"
        params.input = 'assets/samplesheet_fastq_multi.csv'
        params.genome = 'test'
    }
    test_cram {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        small_variant_caller = "deepvariant" // Options: "gatk", "freebayes", "deepvariant"
        structural_variant_caller = "manta" // Options: "manta", "tiddit", "delly", "cnvnator", "smoove"
        annotation_caller = "vep"
        params.input = 'assets/samplesheet_cram.csv'
        params.genome = 'test'
    }
    test_cram_multi {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        small_variant_caller = "deepvariant" // Options: "gatk", "freebayes", "deepvariant"
        structural_variant_caller = "manta" // Options: "manta", "tiddit", "delly", "cnvnator", "smoove"
        annotation_caller = "vep"
        params.input = 'assets/samplesheet_cram_multi.csv'
        params.genome = 'test'
    }
}


// Manifest
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
