/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Test profile configuration
profiles {
    test {
        params {
            // Test parameters
            max_cpus = 2
            max_memory = '6.GB'
            max_time = '6.h'
        }
    }
}

// Default settings
params {
    outdir = 'test_results'
}
